@media all and (max-width: 1000px) {
  .main2 {
    height: 800px;
  }

  .text-content {
    font-size: 13px;
  }
  .btn-penjelasan {
    margin: 10px;
  }
  .fitur1,
  .fitur2,
  .fitur3 {
    padding: 10px;
    font-size: 15px;
  }
}

@media all and (max-width: 670px) {
  .main2 {
    height: 1800px;
  }
  .heading {
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 5px;
  }
  .fitur {
    width: 100%;
  }
  .nama-fitur {
    font-size: 15px;
  }
  .text-content {
    font-size: 10px;
  }

  .btn-penjelasan {
    margin: 0;
  }
  .fitur1,
  .fitur2,
  .fitur3 {
    padding: 5px;
    font-size: 13px;
  }
}
